.btn-handler{
    font-size: 24px;
    background-color: cadetblue;
    border-radius: 6px;
    color:azure;
}
.bad-curly{
    background-color: rgb(101, 210, 168);
}

.shiny {
    background-color: violet;
    color:aliceblue;
}